.wrap{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5%;
}
.title{
    font-size:36px;
    text-align: center;
    font-weight: 600;
}
.title p{
    font-size:18px;
    font-weight: 300;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2%;
    width: 100%;
}
.buttonWrap{
    display: flex;
    justify-content: center;
}
.box{
    background:#ddd;
    width:30%;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size:4vw;
    line-height: 1.2;
    margin:15% 0 2%;
    color:#fff;
}
.item-name{
    font-size:3vw;
    line-height: 1.2;
    margin-bottom:20px;
    color:#fff;
}
.item-result{
    font-size:3vw;
    line-height: 1.2;
    padding:2% 0 15%;
    font-weight: 600;
    color:#fff;
}
.item-img{
    height: 100px;
}
@keyframes hands{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}


.Win .item-img{
    animation: hands 1s infinite;
}
.Win{
    background-color: #1A8400;
}   
.Lose{
    background-color:#ddd;
}
.Tie{
    background-color: #222;
}
.buttonWrap{
    display: flex;
    gap:5px;
}
.buttonWrap button{
    font-size:0;
    line-height: 0;
    width:50px;
    height: 50px;
    background-size: contain;
    background-position: center;
    border:0;  
    cursor: pointer;
    border-radius: 100%;
    overflow: hidden;
}
.buttonWrap button:hover,
.buttonWrap button:active{
    border:5px solid #222;
}
.button-scissors{
    background: #ddd url('../public/img/scissors.png') no-repeat;
}
.button-rock{
    background: #ddd url('../public/img/rock.png') no-repeat;
}
.button-paper{
    background: #ddd url('../public/img/paper.png') no-repeat;
}